.d-flex { display: flex; align-items: center; }

.w-50 { width: 50px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }
.mr-15 { margin-right: 15px; }
.mb-15 { margin-bottom: 15px; }
.mb-30 { margin-bottom: 30px; }
.mb-50 { margin-bottom: 50px; }
.mb-100 { margin-bottom: 100px; }
.mx-15 { margin-left: 15px; margin-right: 15px; }
.my-30 { margin-top: 30px; margin-bottom: 30px; }
.m-15 { margin: 15px; }
.m-0 { margin: 0; }

.blue-color { color: $blue-color; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }

.large-txt { font-size: 1.25em; }

.font-txt { font-family: 'LemonYellowSun';  }
.grey-txt { color: #A2A2A2; }
.bold { font-weight: bold; }

.v-top { vertical-align: top; }